{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class = "text-center bg-color">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
    <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
    {% endif %}
  {% endif %}
  

  <!-- <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Username :</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Password :</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form> -->

  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="300" height="150">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="username" type="username" id="inputEmail" class="form-control" placeholder="Enter username" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="enter Password" required>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  </form>
  
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
  
{% endblock %}